*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.container{

    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    
    

}
.navbar{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 200px;
   
}
.logo{
    width: 50px;
    margin-top: 5px;
    
}
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    list-style: none;
    align-content: center;
}
a{
    text-decoration: none;
}
.products{
    height: 900px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 50px;
    
    
    

}
.product{
    width: 40%;
    padding: 10px;
    flex-wrap: wrap;
    
   
}
.product1{
    
    background-color: aqua;
}
.product2{
    
    background-color: wheat;
    
    
}
.product3{
    
    background-color: rebeccapurple;
}
.product4{
    
    background-color: teal;
}
 .product1 img{
    width: 500px;
    height: 447px;
}
.product2 img{
    width: 500px;
    height: 447px;
}
.product3 img{
    width: 500px;
    height: 447px;
}
.product4 img{
    width: 500px;
    height: 447px;
}



